Repository R07941023/microservice-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-ms-maple-drop-repo, test-ms-aggregator-cache, test-ms-image-cache, test-ms-image-retriever, test-ms-name-resolver, test-ms-search-aggregator, test-ms-llm-orchestrator

test-ms-maple-drop-repo:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-maple-drop-repo

test-ms-aggregator-cache:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-aggregator-cache

test-ms-image-cache:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-image-cache

test-ms-image-retriever:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-image-retriever

test-ms-name-resolver:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-name-resolver

test-ms-search-aggregator:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-search-aggregator

test-ms-llm-orchestrator:
  image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim
  tags:
  - docker
  before_script:
  - cd $PROJECT_PATH
  - uv sync --extra test
  script:
  - uv run pytest -v --tb=short
  stage: test
  variables:
    PROJECT_PATH: ./backend/ms-llm-orchestrator

chore(docker-compose): update for monorepo with shared utils
  docker-compose.yml
Due: none

docs: update .gitignore and README for testing
  .gitignore
  README.md
Due: none

ci(frontend): add vitest
  .gitlab-ci.yml
  README.md
  frontend/package.json
  frontend/src/__tests__/api/chat.route.test.ts
  frontend/src/__tests__/api/search_drops.route.test.ts
  frontend/src/__tests__/api/update_drop.route.test.ts
  frontend/src/__tests__/components/ChatComponent.test.tsx
  frontend/src/__tests__/components/DevToggle.test.tsx
  frontend/src/__tests__/components/DropForm.test.tsx
  frontend/src/__tests__/components/ItemCard.test.tsx
  frontend/src/__tests__/components/LoginComponent.test.tsx
  frontend/src/__tests__/components/ResultsComponent.test.tsx
  frontend/src/__tests__/components/SearchComponent.test.tsx
  frontend/src/__tests__/context/AuthContext.test.tsx
  frontend/src/__tests__/context/DevContext.test.tsx
  frontend/src/__tests__/hooks/useAutocompleteNames.test.ts
  frontend/src/__tests__/hooks/useClickOutside.test.ts
  frontend/src/__tests__/hooks/useSearchData.test.ts
  frontend/src/__tests__/integration/search-flow.test.tsx
  frontend/src/__tests__/mocks/handlers.ts
  frontend/src/__tests__/mocks/keycloak.ts
  frontend/src/__tests__/mocks/server.ts
  frontend/src/__tests__/mocks/testUtils.tsx
  frontend/src/__tests__/setup.ts
  frontend/vitest.config.ts
  frontend/vitest.d.ts
Due: none

fix/ci(frontend): add package-lock
  .gitignore
  frontend/package-lock.json
Due: none

feat(dev): Add VS Code workspace for monorepo
  backend/ms-aggregator-cache/.vscode/settings.json
  backend/ms-image-cache/.vscode/settings.json
  backend/ms-image-retriever/.vscode/settings.json
  backend/ms-llm-orchestrator/.vscode/settings.json
  backend/ms-maple-drop-repo/.vscode/settings.json
  backend/ms-name-resolver/.vscode/settings.json
  backend/ms-search-aggregator/.vscode/settings.json
  microservice_template.code-workspace
Due: test-ms-maple-drop-repo, test-ms-aggregator-cache, test-ms-image-cache, test-ms-image-retriever, test-ms-name-resolver, test-ms-search-aggregator, test-ms-llm-orchestrator

refactor(ms-image-retriever): integrate cache and improve concurrency
  .gitlab-ci.yml
  backend/ms-image-cache/.vscode/settings.json
  backend/ms-image-cache/Dockerfile
  backend/ms-image-cache/main.py
  backend/ms-image-cache/pyproject.toml
  backend/ms-image-cache/tests/conftest.py
  backend/ms-image-cache/tests/test_main.py
  backend/ms-image-cache/uv.lock
  backend/ms-image-retriever/config.py
  backend/ms-image-retriever/main.py
  backend/ms-image-retriever/pyproject.toml
  backend/ms-image-retriever/services/image_checker.py
  backend/ms-image-retriever/services/minio_service.py
  backend/ms-image-retriever/uv.lock
  backend/utils/cache.py
  backend/utils/health.py
  backend/utils/pyproject.toml
  backend/utils/uv.lock
  deployment/backend/ms-image-cache/deployment.yaml
  deployment/backend/ms-image-cache/service.yaml
  deployment/backend/ms-image-retriever/deployment.yaml
  deployment/kustomization.yaml
  docker-compose.yml
  frontend/next.config.ts
Due: test-ms-image-cache, test-ms-image-retriever

refactor: integrate ms-aggregator-cache into ms-search-aggregator
  .gitlab-ci.yml
  backend/ms-aggregator-cache/.vscode/settings.json
  backend/ms-aggregator-cache/Dockerfile
  backend/ms-aggregator-cache/main.py
  backend/ms-aggregator-cache/pyproject.toml
  backend/ms-aggregator-cache/tests/conftest.py
  backend/ms-aggregator-cache/tests/test_main.py
  backend/ms-aggregator-cache/uv.lock
  backend/ms-search-aggregator/main.py
  backend/ms-search-aggregator/pyproject.toml
  backend/ms-search-aggregator/uv.lock
  backend/utils/config.py
  deployment/backend/ms-aggregator-cache/deployment.yaml
  deployment/backend/ms-aggregator-cache/service.yaml
  deployment/backend/ms-search-aggregator/deployment.yaml
  deployment/kustomization.yaml
  docker-compose.yml
  kong.yaml
Due: test-ms-aggregator-cache, test-ms-search-aggregator

refactor(ms-image-retriever): use shared Redis config from utils
  backend/ms-image-retriever/config.py
  backend/ms-image-retriever/main.py
Due: test-ms-image-retriever

docs: add CLAUDE.md coding guidelines
  CLAUDE.md
Due: none

chore(ms-llm-orchestrator): update uv.lock
  backend/ms-llm-orchestrator/uv.lock
Due: test-ms-llm-orchestrator

chore: add missing __init__.py files and update .gitignore
  .gitignore
  backend/ms-image-retriever/services/__init__.py
  backend/ms-image-retriever/tests/__init__.py
  backend/ms-llm-orchestrator/tests/__init__.py
  backend/ms-maple-drop-repo/tests/__init__.py
  backend/ms-name-resolver/tests/__init__.py
  backend/ms-search-aggregator/tests/__init__.py
  backend/utils/__init__.py
  backend/utils/tests/__init__.py
Due: test-ms-maple-drop-repo, test-ms-image-retriever, test-ms-name-resolver, test-ms-search-aggregator, test-ms-llm-orchestrator

test(ms-image-retriever): fix tests and add minio_service coverage
  backend/ms-image-retriever/main.py
  backend/ms-image-retriever/tests/conftest.py
  backend/ms-image-retriever/tests/test_image_checker.py
  backend/ms-image-retriever/tests/test_main.py
  backend/ms-image-retriever/tests/test_minio_service.py
Due: test-ms-image-retriever

docs: update README.md
  README.md
Due: none

refactor(auth): replace unverified JWT decode with Keycloak JWKS verification
  backend/ms-llm-orchestrator/config.py
  backend/ms-llm-orchestrator/main.py
  backend/ms-llm-orchestrator/models.py
  backend/ms-llm-orchestrator/uv.lock
  backend/utils/__init__.py
  backend/utils/auth.py
  backend/utils/pyproject.toml
  backend/utils/tests/test_auth.py
  backend/utils/uv.lock
Due: test-ms-llm-orchestrator

fix(docker): copy utils to correct path before uv sync
  backend/ms-image-retriever/Dockerfile
  backend/ms-llm-orchestrator/Dockerfile
  backend/ms-maple-drop-repo/Dockerfile
  backend/ms-name-resolver/Dockerfile
  backend/ms-search-aggregator/Dockerfile
Due: test-ms-maple-drop-repo, test-ms-image-retriever, test-ms-name-resolver, test-ms-search-aggregator, test-ms-llm-orchestrator

feat(health): add health probes to all backend services
  backend/ms-llm-orchestrator/main.py
  backend/ms-maple-drop-repo/main.py
  backend/ms-maple-drop-repo/pyproject.toml
  backend/ms-maple-drop-repo/uv.lock
  backend/ms-name-resolver/main.py
  backend/ms-name-resolver/pyproject.toml
  backend/ms-name-resolver/uv.lock
  deployment/backend/ms-llm-orchestrator/deployment.yaml
  deployment/backend/ms-maple-drop-repo/deployment.yaml
  deployment/backend/ms-name-resolver/deployment.yaml
Due: test-ms-maple-drop-repo, test-ms-name-resolver, test-ms-llm-orchestrator

ci: remove conditional rules from test jobs
  .gitlab-ci.yml
Due: none

feat: Implement JWT authentication across all microservices
  backend/ms-image-retriever/main.py
  backend/ms-image-retriever/uv.lock
  backend/ms-llm-orchestrator/config.py
  backend/ms-llm-orchestrator/main.py
  backend/ms-llm-orchestrator/models.py
  backend/ms-llm-orchestrator/uv.lock
  backend/ms-maple-drop-repo/main.py
  backend/ms-maple-drop-repo/uv.lock
  backend/ms-name-resolver/main.py
  backend/ms-name-resolver/uv.lock
  backend/ms-search-aggregator/main.py
  backend/ms-search-aggregator/services/drop_repo_client.py
  backend/ms-search-aggregator/services/image_retriever_client.py
  backend/ms-search-aggregator/services/name_resolver_client.py
  backend/ms-search-aggregator/uv.lock
  backend/utils/__init__.py
  backend/utils/auth.py
  backend/utils/config.py
  backend/utils/pyproject.toml
  backend/utils/tests/test_auth.py
  backend/utils/uv.lock
  deployment/backend/ms-image-retriever/deployment.yaml
  deployment/backend/ms-maple-drop-repo/deployment.yaml
  deployment/backend/ms-name-resolver/deployment.yaml
  deployment/backend/ms-search-aggregator/deployment.yaml
  frontend/src/app/edit_drop/[id]/page.tsx
  frontend/src/hooks/useAutocompleteNames.ts
Due: test-ms-maple-drop-repo, test-ms-image-retriever, test-ms-name-resolver, test-ms-search-aggregator, test-ms-llm-orchestrator

refactor(api): route all frontend API calls through Kong gateway
  frontend/next.config.ts
  frontend/src/__tests__/api/search_drops.route.test.ts
  frontend/src/__tests__/api/update_drop.route.test.ts
  frontend/src/__tests__/hooks/useAutocompleteNames.test.tsx
  frontend/src/app/api/chat/route.ts
  frontend/src/app/api/search_drops/route.ts
  frontend/src/app/api/update_drop/[id]/route.ts
  kong.yaml
Due: none

test(backend): fix tests for JWT authentication
  backend/ms-image-retriever/tests/conftest.py
  backend/ms-llm-orchestrator/tests/conftest.py
  backend/ms-llm-orchestrator/tests/test_main.py
  backend/ms-llm-orchestrator/tests/test_models.py
  backend/ms-maple-drop-repo/tests/conftest.py
  backend/ms-name-resolver/tests/conftest.py
  backend/ms-search-aggregator/tests/conftest.py
  backend/ms-search-aggregator/tests/test_main.py
Due: test-ms-maple-drop-repo, test-ms-image-retriever, test-ms-name-resolver, test-ms-search-aggregator, test-ms-llm-orchestrator

fix(frontend): Resolve ESLint unused variable errors and update CI build step
  .gitlab-ci.yml
  frontend/src/__tests__/api/search_drops.route.test.ts
  frontend/src/__tests__/components/ChatComponent.test.tsx
  frontend/src/__tests__/components/SearchComponent.test.tsx
Due: none

Gitlab CI: Update image tags to c784f5c6
  deployment/backend/ms-image-retriever/deployment.yaml
  deployment/backend/ms-llm-orchestrator/deployment.yaml
  deployment/backend/ms-maple-drop-repo/deployment.yaml
  deployment/backend/ms-name-resolver/deployment.yaml
  deployment/backend/ms-search-aggregator/deployment.yaml
  deployment/frontend/deployment.yaml
Due: none

docs: expand README with architecture details and setup improvements
  README.md
Due: none

feat(ms-llm-orchestrator): integrate mem0 long-term memory
  backend/ms-llm-orchestrator/config.py
  backend/ms-llm-orchestrator/main.py
  backend/ms-llm-orchestrator/pyproject.toml
  backend/ms-llm-orchestrator/tools/__init__.py
  backend/ms-llm-orchestrator/tools/memory.py
  backend/ms-llm-orchestrator/uv.lock
  docker-compose.yml
Due: test-ms-llm-orchestrator

feat(frontend): migrate ChatComponent to Vercel AI SDK useChat
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/chat/route.ts
  frontend/src/components/ChatComponent.tsx
Due: none

fix(ms-llm-orchestrator): isolate Langfuse CallbackHandler per request
  backend/ms-llm-orchestrator/main.py
Due: test-ms-llm-orchestrator

feat(frontend): upgrade the chat component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatComponent.tsx
Due: none

fix(frontend): remove SyntaxHighlighter to resolve SSR hydration mismatch
  frontend/src/components/ChatComponent.tsx
Due: none

feat(frontend, ms-llm-orchestrator): forward last 3 conversation turns to LLM orchestrator
  backend/ms-llm-orchestrator/main.py
  backend/ms-llm-orchestrator/models.py
  frontend/src/app/api/chat/route.ts
Due: test-ms-llm-orchestrator

feat(frontend, ms-llm-orchestrator): add session ID for Langfuse grouping, LangGraph thread, and mem0 scope
  backend/ms-llm-orchestrator/main.py
  backend/ms-llm-orchestrator/models.py
  backend/ms-llm-orchestrator/tools/memory.py
  frontend/src/app/api/chat/route.ts
Due: test-ms-llm-orchestrator

feat(ms-llm-orchestrator, utils): route mem0 LLM through litellm proxy and fix Swagger auth
  backend/ms-llm-orchestrator/config.py
  backend/ms-llm-orchestrator/tools/memory.py
  backend/utils/auth.py
Due: test-ms-llm-orchestrator

refactor(ms-llm-orchestrator): remove unused model field from stream-chat
  backend/ms-llm-orchestrator/main.py
  backend/ms-llm-orchestrator/models.py
Due: test-ms-llm-orchestrator

fix(ms-llm-orchestrator): remove mcp tool
  backend/ms-llm-orchestrator/main.py
Due: test-ms-llm-orchestrator

feat(frontend): upgrade chat component with streaming fix and markdown support
  frontend/src/components/ChatComponent.tsx
Due: none

fix(frontend): refresh token and show error message on chat API failure
  frontend/src/components/ChatComponent.tsx
  frontend/src/context/AuthContext.tsx
Due: none

feat(deployment): add pgvector, neo4j, and gemini env vars to ms-llm-orchestrator
  deployment/backend/ms-llm-orchestrator/deployment.yaml
Due: none

fix(ms-llm-orchestrator): update tests to match current models and dependencies
  backend/ms-llm-orchestrator/tests/conftest.py
  backend/ms-llm-orchestrator/tests/test_config.py
  backend/ms-llm-orchestrator/tests/test_main.py
  backend/ms-llm-orchestrator/tests/test_models.py
Due: test-ms-llm-orchestrator

fix(frontend): fix all tests — react version, postcss, route format, and component mocks
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/__tests__/api/chat.route.test.ts
  frontend/src/__tests__/components/ChatComponent.test.tsx
  frontend/vitest.config.ts
Due: none

docs: update system architecture diagram
  images/system_design.jpg
Due: none

chore: ignore frontend coverage and test-results directories
  .gitignore
Due: none

Path conditions:
  test-ms-maple-drop-repo: any of: backend/ms-maple-drop-repo/**/*
  test-ms-aggregator-cache: any of: backend/ms-aggregator-cache/**/*
  test-ms-image-cache: any of: backend/ms-image-cache/**/*
  test-ms-image-retriever: any of: backend/ms-image-retriever/**/*
  test-ms-name-resolver: any of: backend/ms-name-resolver/**/*
  test-ms-search-aggregator: any of: backend/ms-search-aggregator/**/*
  test-ms-llm-orchestrator: any of: backend/ms-llm-orchestrator/**/*
